$color-300: #f2f3f5;
$color-200: #d2d2d3e3;
$color-100: #6f757c;

$font-weight-100: 600;

$font-size-xl : 18px;
$font-size-300: 14px;
$font-size-200: 12px;
$font-size-s : 11px;
$font-size-100: 10px;


$servers-bg: #1e1f22;
$dm-bg: #2b2d31;
$dm--personal-bg: #232428;
$dm-hover-bg: #404249;
$main-bg: #313338;


$servers-width: 5.5%;
$dm-width: 18%;


$dm--personal-height: 52px;
$header-height: 47px;
$members-width: 350px;
$dm--lists-item--pfp: 32px;
$members-dm-pfp: 95px;
$members-dm-width: 22px;
$chat-height: 440px;


$chat-input-field-padding: 0.5rem 1rem;
$dm--header--input-padding-in: 0.3rem;
$main--chat-padding-bottom: 1.2rem;
$main--chat-padding-in: 1rem;

$dm--header--input-border-radius: 0.25rem;
$main--chat--input-border-radius: 0.6rem;
$members-dm-pfp-border: 0.5rem;

$dm--header--input-inset: 10px;
$dm--list-item-gap: 0.5rem;

