@import "../utilities/reset.scss";
@import "../utilities/variable.scss";
@import "../utilities/mixin.scss";

*,
*::before,
*::after{
    font-family: 'Noto sans' !important;
    text-decoration: none;
}

.wrapper{
    height: 100vh;
    @include flex;
}

.servers{
    min-width: 70px;
    width: $servers-width;
    background: $servers-bg;
    padding-block: $dm--header--input-inset ;
    gap: $dm--header--input-inset;
    overflow: scroll;
    display: grid;

    &::-webkit-scrollbar{
        display: none;
    }

    div:has(> .server-icon){
        position: relative;
    }

    div:has(.footer-icon){
        display: grid;
        gap: $dm--list-item-gap;
    }

    .server-icon{
        width: 65%;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-inline: auto;
        background-color: $main-bg; 
        @include gridCenter;
        transition: background-color 300ms, border-radius 300ms;
        
        img{
            border-radius: 50%;
            transition: border-radius 300ms;
        }

        &:hover{
            border-radius: 35%;

            img{
                border-radius: 35%;
            }
            
            svg{
                color: white;
            }

            ~ .indicator{
                min-height: 20px;
                border-radius: 999vh;
            }
        }
    }

    .dm-icon,
    .footer-icon{
        &:hover{

            ~ .indicator{
                scale: 1;
            }
        }

        ~ .indicator{
            scale: 0;
            transition: scale 300ms;
        }
    }
    
    .dm-icon{
        &:hover{
            background-color: #5865f2;
        }
    }

    .footer-icon{

        svg{
            color: #23a559;
        }

        &:hover{
            background-color: #23a559;

        }
    }

    .indicator{
        position: absolute;
        left: 0;
        top: 50%;
        translate: -57% -50%;
        width: 10px;
        min-height: 10px;
        background: white;
        border-radius: 50%;
        transition: min-height 300ms;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    svg{
        width: 100%;
        color: $color-100;
        transition: color 300ms;
    }
}

.dm,
.main{
    .header{
        height: $header-height;
        box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.555);
    }   
}

.dm{
    min-width: 240px;
    width: $dm-width;
    background-color: $dm-bg;
    color: $color-200;
    @include flex(1);
    position: relative;
    font-size: $font-size-300;


    .img{
        width: $dm--lists-item--pfp;
        aspect-ratio: 1;
        border-radius: 50%;
        @include gridCenter;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
        
        svg{
            height: $dm--lists-item--pfp !important;
        }
    }

    
    .pfp{
        position: relative;
        
        .appearance{
            position: absolute;
            bottom: 0%;
            right: 0%;
            isolation: isolate;
            width: 50%;
            aspect-ratio: 1;
            border-radius: 50%;
            translate: 25% 20%;
            overflow: hidden;

            &::before,
            &::after{
                content: '';
                position: absolute;
                border-radius: 50%;
                aspect-ratio: 1;
            }

            &::before{
                width: 10px;
                @include self-center;
            }

            &::after{
                width: 5px;
                background-color: inherit;
            }
            
            &[data-appearance="online"]{
                &::before{
                    background: #23a55a;
                }
            }
            
            &[data-appearance="idle"]{
                
                &::before{
                    background: #f0b232;
                }

                &::after{
                    width: 9px;
                }
            }

            &[data-appearance="busy"]{

                &::before{
                    background: #ec3e42;
                }

                &::after{
                    @include self-center;
                    width: 45%;
                    height: 15%;
                    border-radius: 999vh;
                }
            }

            &[data-appearance="offline"]{

                &::before{
                    background: #80848e;
                }

                &::after{
                    @include self-center;
                }
            }
        }
    }


    .header{
        @include gridCenter;
        position: relative;
        // top: 0;
        // left: 0;
        // width: 100%;
        height: $header-height;

        input{
            inset: $dm--header--input-inset;
            border-radius: $dm--header--input-border-radius;
            padding-inline: $dm--header--input-padding-in;
            background-color: $servers-bg;
            position: absolute;
            border: none;
            outline: transparent;

            &::placeholder{
                color: $color-100;
            }
        }
    }

    .list{
        padding-block: $dm--list-item-gap;
        overflow: scroll;
        @include flex(1);

        .appearance{
            background-color: $dm-bg;
        }
        
        ul{
            list-style: none;
            padding-inline: $dm--list-item-gap ;
            gap: $dm--list-item-gap;
            @include flex(1);
        }

        li{
            @include flex;
            align-items: center;
            gap: $dm--list-item-gap;
            padding: 0.2rem $dm--list-item-gap;
            border-radius: $dm--header--input-border-radius;
            
            &:not(.noHoverEffect):hover{
                background-color: $dm-hover-bg;
                color: $color-300;
                cursor: pointer;
            }
        }

        .noHoverEffect{
            margin-bottom: -5px;

            svg{
                scale: 0.6;
                margin-left: auto;
                color: $color-300;
            }
        }

        &::-webkit-scrollbar {
            width: 5px;
            height: 0px; 
        }

        &::-webkit-scrollbar-thumb {
            background-color: $servers-bg;
            border-radius: 6px; 
        }
    }

    .personal{
        height: $dm--personal-height;
        background-color: $dm--personal-bg;
        @include flex;
        align-items: center;
        justify-content: space-around;

        .appearance{
            background-color: $dm--personal-bg;
        }

        .img{
            border-radius: $dm--header--input-border-radius;
        }
    }

    .profile{
        @include flex;
        gap: $dm--list-item-gap;
        padding: 0.25rem 0.3rem;
        border-radius: $dm--header--input-border-radius;
        color: $color-300;

        &:hover{
            background-color: $dm-hover-bg;
            cursor: pointer;
        }
    }

    .profile-info{
        @include flex(1);
        justify-content: space-around;
        font-size: $font-size-200;

        .status{
            color: $color-200;
        }
    }

    .icons{
        @include flex;

        .img{
            &:hover{
                background-color: $dm-hover-bg;
                cursor: pointer;
                color: $color-300;
            }
        }
    }
}

.main{
    flex-grow: 1;
    background-color: $main-bg;
}